<ion-view view-title="Account">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="../img/mauricio.jpg">
        <h2>Mauricio Milano</h2>
        <p>Fullstack developer</p>
      </div>
    
      <div class="item item-body">
        <p>
          Student of system information, backend developer with javascript technologies and front end developer with javascript technologies
        </p>
        <p>
          <a href="#" class="subdued">Javascript</a>
          <a href="#" class="subdued">Typescript</a>
          <a href="#" class="subdued">MongoDB</a>
          <a href="#" class="subdued">Watson</a>
          <a href="#" class="subdued">Jest</a>
          <a href="#" class="subdued">Mocha</a>
        </p>
      </div>
    
    </div>
  </ion-content>
</ion-view>
